/* auth.css */

.auth-container {
  background-color: var(--light-gray);
  padding: var(--space-lg);
  max-width: 400px;
  margin: var(--space-xl) auto;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  font-family: Outfit, sans-serif;
}

.auth-title {
  font-size: var(--font-size-lg);
  color: var(--primary-60);
  margin-bottom: var(--space-md);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  font-size: var(--font-size-sm);
  margin-bottom: var(--space-xs);
  color: var(--text-dark);
}

.form-input {
  padding: var(--space-sm);
  font-size: var(--font-size-base);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-sm);
  background-color: var(--white);
  transition: border-color var(--transition-fast);
  font-family: Outfit;
}

.form-input:focus {
  outline: none;
  border-color: var(--secondary-30);
}

.auth-btn {
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-base);
  background-color: var(--primary-60);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color var(--transition-fast),
    transform var(--transition-fast);
  font-family: Outfit;
}

.auth-btn:hover {
  background-color: var(--secondary-30);
  transform: translateY(-1px);
}

.auth-btn:disabled {
  background-color: var(--dark-gray);
  cursor: not-allowed;
}

.error-message {
  color: var(--accent-10);
  font-size: var(--font-size-sm);
  margin-bottom: var(--space-sm);
  text-align: center;
  position: absolute;
  right: 0;
}

.password-group {
  position: relative;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.showpassword-login {
  position: absolute;
  right: var(--space-sm);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--dark-gray);
  font-size: 1.2rem;
  transition: color var(--transition-fast);
}

.showpassword-login:hover {
  color: var(--secondary-30);
}
