:root {
  --primary-60: #2c3e50;

  --secondary-30: #3498db;

  --accent-10: #e74c3c;

  --white: #ffffff;
  --light-gray: #f5f7fa;
  --medium-gray: #e0e4e8;
  --dark-gray: #95a5a6;
  --text-dark: #2d3436;

  --space-unit: 8px;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: var(--space-unit);
  --space-md: calc(2 * var(--space-unit));
  --space-lg: calc(3 * var(--space-unit));
  --space-xl: calc(4 * var(--space-unit));
  --space-xxl: calc(6 * var(--space-unit));

  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem; /* 32px */

  --line-height-sm: 1.25;
  --line-height-md: 1.5;

  /* Borders */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-width: 1px;
  --border-color: var(--medium-gray);

  --font-family: Outfit;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  /* Transitions */
  --transition-fast: 0.15s ease;
  --transition-medium: 0.3s ease;
  --transition-slow: 0.5s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Outfit, sans-serif;
  line-height: var(--line-height-md);
  color: var(--text-dark);
  background-color: var(--light-gray);
}

h1,
h2,
h3,
h4 {
  color: var(--primary-60);
}

h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}
h4 {
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;
  color: var(--secondary-30);
  font-family: var(--font-family);
}

/* custom-toast.css */
.custom-toast {
  font-family: var(--font-family);
  font-size: 16px;
}

/* Layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.section {
  padding: var(--space-xl) 0;
}

/* Utility Classes */
.text-center {
  text-align: center;
}
.mt-sm {
  margin-top: var(--space-sm);
}
.mt-md {
  margin-top: var(--space-md);
}
.mt-lg {
  margin-top: var(--space-lg);
}
.mb-sm {
  margin-bottom: var(--space-sm);
}
.mb-md {
  margin-bottom: var(--space-md);
}
.mb-lg {
  margin-bottom: var(--space-lg);
}
